@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1{ 
font-family: 'Montserrat', sans-serif;
}

h2{font-family: 'Montserrat', sans-serif;
}

#header {font-family: courier; color:white;}
#feed {font-family:courier;}
#feed {color:white;}
#routine{font-family: courier;color:#FFFFFF;}
#body_lang{font-family: courier;color:#FFFFFF;}
body {border:dotted;color:#FF6C59;
    
}

#routine{margin:auto;}

body{background-image: url("../images/sunset.jpg");}
a:link {color:white;
}
a:visited{color:yellow;}
a:hover{color:red;}
a: active{color:pink;}
#routine{border: thick solid white;